body {
    margin: 0;
    font-family: Tahoma;
}
.povedlo {
    border: 2px solid green;
    color: green;
    padding: 2em;
    margin: 2em;
    width: fit-content;
}
.zpet {
    margin: 2em;
    padding: 1em;
    background: aquamarine;
    color: black;
    font-weight: bold;
    width: fit-content;
    text-decoration: none;
}
table {
    width: 80%;
    border: 3px solid black;
    margin-left: 10%;
    margin-right: 10%;
}
th, td {
    padding: 0.5em;
}
th {
    background: aquamarine;
}
td {
    border-bottom: 1px solid lightskyblue;
}
table tr:last-child td{
    border-bottom: none;
}